# Spotify App Credentials (from https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=a2cff4fceae146db8ded92dae9ed9ddd
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=https://oxiterm.slavekm.pl/callback

# Shared Secret for Rust <-> Python Communication
OXITERM_APP_TOKEN=your_oxiterm_app_token_here
OXITERM_URL=http://host.docker.internal:8087

# App Server Settings
PORT=8889
