# Spotify App Credentials (from https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=a2cff4ceae146db8ded92dae9ed9ddd
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=https://oxiterm.slavekm.pl/callback

# App Server Settings
PORT=8889
CALLBACK_PORT=8888
